
/*
Design by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 2.5 License
*/

* {
	margin: 0;
	padding: 0;
}

body {
	background: #F6F6F6 url(../img/template/img01.jpg) repeat-x;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 0.9em;
	color: #333;
	text-align: center;
}
/*
form {
}

input, textarea {
	padding: 2px 5px;
	border: 1px solid #EBEBEB;
	font: bold 12px georgia,times;/* "Trebuchet MS", Arial, Helvetica, sans-serif;*
	color: #6B6B6B;
}
*/
h1, h2, h3, h4 {
	margin: 0;
}

h2, h3, h4 {
	margin-top: 30px;
	margin-bottom: 20px;
	border-bottom: 1px solid #F2F2F2;
	letter-spacing: -0.035em;
	font-weight: normal;
	color: #37404C;
	text-align: left;
}

h2, h2 a {
	font-size: 1.4em;
	/*font-weight: bold;*/
}

h3, h3 a {
	font-size: 1.3em;
	font-weight: bold;
}

h4 {
	font-size: 1.2em;
	font-weight: bold;
}

p, ul, ol {
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	line-height: 120%;
	text-align: justify;
}

ul, ol {
	margin-left: 3em;
}
/*
dl.list1 {
	margin: 0;
	padding: 0;
	list-style: none;
}

dl.list1 dt {
	float: left;
	width: 70px;
}

dl.list1 dd {
	margin-bottom: 10px;
}

dl.list1 a {
	color: #666666;
}

ul.list2 {
	margin: 0;
	padding: 0;
	list-style: none;
	line-height: normal;
}

ul.list2 li {
	float: left;
	margin: 0 18px 18px 0;
}

ul.list2 li.nopad {
	margin-right: 0;
}
*/
blockquote {
	margin-left: 3em;
	margin-right: 3em;
}

code {
	display: block;
	padding: 1em 3em;
}

a {
	color: #FF5A00;
}

a:hover {
	text-decoration: none;
}

a img {
	border: none;
}

img.left {
	float: left;
	margin: 5px 20px 0 0;
}

img.right {
	float: right;
	margin: 5px 0 0 20px;
}

/* Wrapper */

#wrapper {
	width: 960px;
	margin: 0 auto;
	background: url(../img/template/img02.jpg) repeat-y;
}

#wrapper2 {
	background: url(../img/template/img10.jpg) no-repeat left bottom;
}

/* Header */

#header {
	height: 140px;
	background: #087FE7 url(../img/template/img03.jpg) no-repeat;
}

/* Logo */

#logo {
	width: 880px;
	height: 80px;
	margin: 0 auto;
	padding-top: 10px;
	padding-left: 20px;
	padding-right: 20px;
	float: left;
	text-align: left;
}

#logo h1 {
	margin: 0;
	padding: 0px 0 0 50px;
	/*text-transform: lowercase;*/
	letter-spacing: -3px;
	font-size: 40px;
	color: #FFFFFF;
	border-bottom: 0px;
}

#logo h1 a {
	text-decoration: none;
	color: #FFFFFF;
}

h1 {
	color:#000000;
	font-size:41px;
	letter-spacing:-2px;
	line-height:1em;
	font-family:helvetica,arial,sans-serif;
	border-bottom:1px dotted #cccccc;
}

#logo h2 {
	margin: 0;
	padding: 27px 0 0 50px;
	letter-spacing: 1px;
	font-size: 22px;
	color: #FFFFFF;
	border-bottom: 0px;
	/*font-family:'Brush Script MT',Phyllis,'Lucida Handwriting',cursive;
	font-family: "Monotype Corsiva", "Comic Sans MS", Comic, cursive;*/
	/*width:450px;*/
}

/* Menu */

#menu {
	float: right;
	margin: 0;
	padding: 20px 0px 0px 0px;
	text-align:right;
	right:0px;
	width:400;
}

#menu ul {
	list-style: none;
	line-height: normal;
	margin-left:0;
	margin-right:0;
	font-size: 1.2em;
	font-weight: bold;
	color: #FFFFFF;
}

#menu li {
	display: inline;
}

#menu a {
	padding-left: 20px;
	padding-right: 20px;
	text-decoration: none;
	color: #FFFFFF;
}

#menu a:hover {
	text-decoration: underline;
}


/* Page */

#page {
	background: url(../img/template/img04.jpg) no-repeat;
}

/* Content */

#content {
	float: left;
	/*width: 555px;*/
	padding: 0 0 0 76px;
}

.post {
	padding-top: 30px;
	width: 555px;
}

.post .title {
}

.post .title a {
	text-decoration: none;
	color: #37404C;
}

.post .title a.link {
	color: #FF5A00;
}

.post .title a:hover {
	text-decoration: none;
}

.post .entry {
}

.post .meta {
	height: 16px;
	margin: 0;
	padding: 10px;
	background: url(../img/template/img07.jpg) repeat-x left bottom;
	line-height: normal;
}

.post .meta .posted {
	display: block;
	float: left;
}

.post .meta .permalink {
	display: block;
	float: right;
	padding-left: 17px;
	background: url(../img/template/img09.gif) no-repeat left center;
}

.post .meta .comments {
	display: block;
	float: right;
	padding: 0 30px 0 19px;
	background: url(../img/template/img08.gif) no-repeat left center;
}

/* Sidebar */

#sidebar {
	float: right;
	/*width: 186px;*/
	padding: 67px 76px 0 0;
}
#sidebarcontainer {
	width: 210px;
}
	
#sidebar ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

#sidebar li {
	margin-bottom: 20px;
}

#sidebar li ul {
}

#sidebar li li {
	margin: 0;
}

div.contact {
	font-size:12px;
}

/* Widebar *

#widebar {
	margin: 0 50px;
	padding: 25px 28px 0 28px;
	background: #F2F2F2 url(../img/template/img11.gif) repeat-x;
}

#widebar #colA {
	float: left;
	width: 260px;
}

#widebar #colB {
	float: left;
	width: 260px;
	padding-left: 45px;
}

#widebar #colC {
	float: left;
	width: 186px;
	padding-left: 45px;
}

/* Footer */

#footer {
	height: 68px;
	padding-top: 40px;
	background: url(../img/template/img05.jpg) no-repeat;
}

#footer p {
	margin: 0;
	text-align: center;
	color: #8E8E8E;
}

#footer a {
	color: #666666;
}


/* addition */
 a {

	font-weight:normal;
	line-height:1.2em;
	text-decoration:none;
}

a:hover {
	text-decoration:underline;
}

a#current {
	color: #FF5A00;
}